body{
    background-color: #040204;
}
p{
    color: #ff6666;
    font-size: 19;
    border-color: #ff6666;
}
h1{
    color: #ff6666;
    text-align: center;
    font-size: 70;
}
.titulo{
    display: flex;
}
.Carta{
    display: flex;
    text-align: center;
}
.rotate{
    transform: rotate(180deg);
}